@import "tailwindcss";


.loginBg{


background: url(../public/blob-scene-haikei9.svg);
background-size: cover ;
background-position: center center;
background-repeat:no-repeat ;

}   

.loginPage{
    transform: translateX(0)
}

.signUpBg{


background: url(../public/blob-scene-haikei8.svg);
background-size: cover ;
background-position: center center;
background-repeat:no-repeat ;

}   

.shadowInner {
box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.75);
}

@media (width >= 64rem /* 1024px */) {
.signUpBg {
    
        background: url(../public/blob-scene-haikei2.svg);
        background-size: cover  ;
        background-position: center center;
        background-repeat:no-repeat ;
    }
}

@media (width >= 64rem /* 1024px */) {
    .loginBg {
        
            background: url(../public/blob-scene-haikei7.svg);
            background-size: cover  ;
            background-position: center center;
            background-repeat:no-repeat ;
        }
}